body{
  background-color: rgba(124, 138, 138, 0.387);
  height: 300PX;
}

.NameClass{
    background-color: #fbfbfb;
    text-align: center;
    font-size: x-large;
    padding-left: 61px;
    width: 550px;
}
.headclass{
    font-size: x-large;
    font-weight: bold;
    background-color: #71797E;
}
.NameClasss{
    font-size: x-large;
    font-weight: bold;
    background-color: #60b7ed;
    color: white;
}
.stylefont{
    font-size: 30PX;
    font-weight: bold;
       background-color: #fbfbfb;
}
.stylefonts{
    font-size: 30PX;
    font-weight: bold;
    background-color: #60b7ed;
    color: white;
}

.table-dark{
    background-color: rgba(111, 203, 203, 0.387);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    height: 500px;
    text-align: center;
}

.table-bordered td{
    border: 3px solid #100c12;
}


.table-bordered td {
    border: 3px solid #100c12;
}